[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]

aiohttp = "*"
aiohttp-utils = "*"
ipython = "*"
envparse = "*"
"aiohttp-jinja2" = "*"
structlog = "*"
sdc-cryptography = "*"
aiohttp-session = {extras = ["secure"]}
cchardet = "*"
aiodns = "*"
"iso8601" = "*"


[dev-packages]

invoke = "*"
"flake8" = "*"
pytest-aiohttp = "*"


[requires]

python_version = "3.6"
