#badges {
  margin-left: 100px;
}

#badges img {
  margin-right: 5px;
}

.iac {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
  color: inherit;;
  font-size: 18px;
  font-size: 1rem;
  line-height: normal;
  margin: 0 10px 0 0;
  padding: 10.799px;
  padding: 0.6rem;
  vertical-align: baseline;
}
