<div class="wrapper panel--mar">
  <div class="grid-wrap">
    <div class="grid-col desktop-grid-full-width">
    <% if flash[:notice] %>
      <p class="formfailed"><strong><%=h flash[:notice] %></strong></p>
    <% end %>
      <form action="/" method="POST">
        Internet Access Code: <input type="text" name="iac" autocomplete="off" autofocus>
        <input type="submit" value="Go">
      </form>
    </div>
  </div>
</div>
