<div class="wrapper panel--mar">
  <div class="grid-wrap">
    <div class="grid-col desktop-grid-full-width">

    <% if flash[:notice] %>
      <p class="whatever"><%=h flash[:notice] %></p>
      asdlkfhasldkfhalksdjf
    <% end %>

    <form action="/" method="POST">
        Internet Access Code: <input type="text" name="iac" autofocus>
        <input type="submit" value="Go">
    </form>
    </div>
  </div>
</div>
