{% for group, messages in messages_dict.items() %}
  <div class="u-mt-s">

    {% if group=='ERROR' %}
    <div class="panel panel--error">
      <div class="panel__header">
        <h1 class="panel__title venus">
          {% trans count=messages|length %}
          This page has an error
          {% pluralize %}
          This page has {{ count }} errors
          {% endtrans %}
        </h1>
      </div>

      {% for message in messages %}
      <div class="panel__body" {% if message.type %}data-ga="error" data-ga-category="error" data-ga-action="error-validation" data-ga-label="error_type = {{ message.type }}" {% endif %}>
        <ul class="list list--bare">
          <li class="list__item mars">
            {% if message.clickable %}
              {{loop.index}}) <a class="js-inpagelink" href="#access-code-answer">{{ message.text }}</a>
            {% else %}
              {{ message.text }}
            {% endif %}
          </li>
        </ul>
      </div>
      {% endfor %}
    </div>

    {% elif group=='INFO' %}
      {% for message in messages %}
      <div class="panel panel--simple panel--info" {% if message.type %}data-ga="error" data-ga-category="info" data-ga-action="info-message" data-ga-label="info_type = {{ message.type }}" {% endif %}>
        <div class="panel__body">
          {% for para in message.text.split('\n') %}
            <h2 class="mars">{{ para }}</h2>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    {% endif %}

  </div>
{% endfor %}