
<% content_for :breadcrumbs do %>
  Home
<% end %>

<% content_for :sub_heading do %>
  Welcome to Respondent Home.
<% end %>

<% if !description_error.nil? %>
  <p><span class="required"><%=h description_error %></span></p>
<% end %>

<form action="/" method="POST">
    Internet Access Code: <input type="text" name="iac">
    <input type="submit">
</form>
