<!doctype html>
<!--[if lt IE 7]>      <html lang="en-gb" dir="ltr" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-gb" dir="ltr" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--><html lang="en-gb" dir="ltr" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}Welcome to the Online Household Study (Alpha) - Office for National Statistics{% endblock %}</title>
  <meta content="" name="description">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link rel="shortcut icon" href="favicon.ico">
  <!--[if lt IE 9]>
    <script src="/js/vendor/html5shiv.min.js?q=95ed16e2c89bb26d9c02129271468664828e4cee"></script>
  <![endif]-->
  <!--[if lte IE 9]>
    <script src="/js/polyfills.js?q=95ed16e2c89bb26d9c02129271468664828e4cee"></script>
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <script nonce="{{ request.csp_nonce }}">document.documentElement.className = document.documentElement.className.replace('no-js', 'has-js')</script>
  <!--<![endif]-->
  <!--[if (gt IE 9) | (IEMobile)]><!-->
  <link href="{{ static('css/responsive.css') }}" rel="stylesheet">
  <!--<![endif]-->
  <!--[if (lte IE 9) & (!IEMobile)]>
    <link href="/css/fixed.min.css?q=95ed16e2c89bb26d9c02129271468664828e4cee" rel="stylesheet">
  <![endif]-->


  <!--<link href="{{ static('css/responsive.css') }}" rel="stylesheet">-->
</head>

<body>
  <div class="page">
    <div class="container">
      <header class="header">
        <div class="logo header__logo">
          <img src="https://cdn.ons.gov.uk/assets/images/ons-logo/v2/ons-logo.svg" alt="Office for National Statistics" class="logo__img">
        </div>
      </header>
    </div>
    <div class="bar" role="banner">
      <div class="bar__inner container">
        <h1 class="bar__title venus">Online Household Study (Alpha)</h1>
      </div>
    </div>
    <div class="page__container container">
      <div class="grid">
        <div class="grid__col col-8@m u-mb-s">
            {% block content %}{% endblock %}
        </div>
      </div>
    </div>


    <footer class="footer" role="contentinfo">
        <div class="container">
            <div class="grid">
                <div class="grid__col col-12@m">
                    <ul class="list list--bare">
                        <li>
                            <a href="https://www.ons.gov.uk/aboutus/contactus" class="footer__link footer__link--inline" target="_blank">Contact us</a>
                        </li>
                        <li>
                            <a href="https://www.ons.gov.uk/help/cookiesandprivacy" class="footer__link footer__link--inline" target="_blank">Cookies and privacy</a>
                        </li>
                    </ul>
                </div>
                <div class="grid__col col-12@m">
                    <div class="footer__license footer__license--border">
                        <img alt="OGL" class="footer__ogl-img" src="/s/img/ogl.svg"> All content is available under the
                        <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" class="footer__link">Open Government
                    Licence v3.0</a>, except where otherwise stated
                    </div>
                </div>
            </div>
        </div>
    </footer>
  </div>
</div>
<!-- jQuery 1 -->
<!--[if lt IE 9]>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script>window.jQuery || document.write('<script "/js/vendor/jquery-1.12.0.min.js?q=95ed16e2c89bb26d9c02129271468664828e4cee"><\/script>')</script>
<![endif]-->
<!-- jQuery 2 -->
<!--[if gte IE 9]><!-->
<script src="/js/vendor/jquery-2.2.0.min.js"></script>
<script nonce="{{ request.csp_nonce }}">window.jQuery || document.write('<script "/js/vendor/jquery-2.2.0.min.js?q=95ed16e2c89bb26d9c02129271468664828e4cee"><\/script>')</script>
<!--<![endif]-->
<!--[if gte IE 9]><!-->
<script src="/js/bundle.js"></script>
  <!--<![endif]-->
  <!-- <%= yield_content :javascript %>
    <% unless analytics_account.nil? %>
      <script>
        (function (i, s, o, g, r, a, m) {
          i['GoogleAnalyticsObject'] = r;
          i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
          }, i[r].l = 1 * new Date();
          a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
          a.async = 1;
          a.src = g;
          m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', '<%=h analytics_account %>', 'auto');
        ga('send', 'pageview');
      </script>
      <% end %> -->
</body>

</html>
