{% extends "base.html" %}

{% block title %}Contact us - My Study{% endblock title %}

{% block content %}

<h1 class="saturn">
  Contact us
</h1>
<h2 class="neptune">
  Telephone
</h2>
<p>
  <a href="tel:08000857376">0800 085 7376</a>
</p> 
<p>NGT service (18001) 
  <a href="tel:08000857376">0800 085 7376</a>
</p>
<h3 class="venus">Opening hours:</h3>
<p>
  Monday to Thursday 9am – 9pm<br>
  Friday 9am - 8pm<br>
  Saturday 9am - 1pm
</p>
<p>This office is closed during public holidays</p>
<h2 class="neptune">
    Email
</h2>
<p>
  <a href="mailto:surveyfeedback@ons.gov.uk">surveyfeedback@ons.gov.uk</a>
</p>
<h2 class="neptune">
  Post
</h2>
<p>Office for National Statistics<br>
  Segensworth Road<br>
  Titchfield<br>
  Fareham<br>
  PO15 5RR
</p>

{% endblock content %}
